---
import Header from "../Components/Header.astro"
import Footer from "../Components/Footer.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<Header/>
	<body>
		<driv class="grid_1-1">
			<div class="col">
				<h1>HELLO</h1>
				<p> Hej mit navn er Victoria</p>
			</div>

			<div class="col">
				<img src="Blomster_1.png" alt="">
			</div>
		</driv>

	</body>
	<Footer/>
</html>
